{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}
{% block navbar %}
{% include 'navbar.html'%}
{% endblock %}

  
  {% block content %}

    <div class="container">
     
        <div class="jumbotron" style="height:200px;width:1120px;font-family: 'Kaushan Script', cursive;font-size:5px">
          <p>In life, you only have 60 seconds to impress someone. 1 minute can make or break you.<br>
          one minute can kill you or heal you. let's use our one minute to tell something to the world.<br>
        Here we have a pitch app where you will be posting a pitch for only one minute.please post something constructive.</p>
        </div>
      </div>
      <h3 style="color: black;text-align: center"> Here are Pitches Categories, you can choose one you might like!</h3>
      <br>
      <div style="width:600px;height:100px;margin-left:400px">
      <ul class="nav justify-content-center" role="tablist">
        <li class="nav-item">
          <a class="navbar-brand" data-toggle="tab" href="#intertainment" style="background-color:black">Intertainment</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" data-toggle="tab" href="#politics" style="background-color:black">Politics</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" data-toggle="tab" href="#health" style="background-color:black">Health</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" data-toggle="tab" href="#education" style="background-color:black">Education</a>
        </li>
      </ul>
      </div>
      <div class="tab-content">
        <div id="intertainment" class="container tab-pane fade"><br>
          {{ macro.display(intertainment) }}
          
        </div>
        <div id="politics" class="container tab-pane fade"><br>
          {{ macro.display(politics) }}
        </div>
        <div id="health" class="container tab-pane fade"><br>
          {{ macro.display(health)}}
        </div>
        <div id="education" class="container tab-pane fade"><br>
          {{ macro.display(education) }}
        </div>
        
      </div>
    </div>
  {% endblock %}